#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

h1 {
    text-align: center;
    border-style: solid;
}

h2 {
    text-align: center;
}

/*A class to center images*/
.center {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 30%;
}
